.button {
    border: none;
    padding: 0.5rem 0.8rem;
    font-family: inherit;
}


.button:hover {
    cursor: pointer;
}

.default {
    background-color: orange;
    color: white;
}

.default:hover {
    background-color: darkorange;
}

.main {
    background-color: dodgerblue;
    color: white;
}

.main:hover {
    background-color: blue;
}
