.container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.link {
    text-decoration: underline;
    font-size: 1.3rem;
    font-weight: 400;
    width: fit-content;
}

@media(hover: hover) and (pointer: fine) {
    .link:hover {
        /*text-decoration: none;*/
        /*color: darkslategray;*/
        color: orange;
    }
}

@media(hover: none) {
    .link:active,
    .link:focus {
        color: orange;
    }
}
