.container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.link {
    text-decoration: underline;
    font-size: 1.3rem;
    font-weight: 400;
    width: fit-content;
}


.link:hover {
    /*text-decoration: none;*/
    color: darkslategray;
    color: orange;
}

.link:focus,
.link:active {
    color: black;
}
