.heading {
    margin-bottom: 1rem;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}

.imagesContainer {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    gap: 0rem;
    row-gap: 3rem;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.posterGroup {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
