.container {
    color: black;
}

.searchResultsList {
    display: flex;
    flex-direction: column;
}

.searchResultItem {
    display: flex;
    flex-direction: column;
    list-style: none;
    border-bottom: 1px solid gray;
}

.titleSection:hover {
    cursor: pointer;
    background-color: whitesmoke;
}

.titleSection {
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.episodes {
    margin: 1rem 0;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.episode {
    list-style: none;
    cursor: default;
    width: fit-content;
}

.episode button {
    border: none;
    background-color: white;
    font-family: inherit;
}

.episode button:hover {
    text-decoration: underline;
    cursor: pointer;
}

.podcastName {
    margin-left: 0.5rem;
}
