.container,
.episodeImageContainer {
    min-height: 400px;
    max-height: 1000px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    background-color: whitesmoke;
    padding: 0.5rem;
}

.container {
    height: 75vh;
}

.episodeImageContainer {
    display: flex;
    align-items: center;
}


.posterContainer {
    height: 100%;
    flex: 1;
    /*background-color: pink;*/
}

.poster {
    height: 100%;
    width: 100%;
    /*max-width: 500px;*/
    /*border: 1px solid #e3e3e3;*/
    object-fit: contain;
}
