.imagesContainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

.imageContainer {
    object-fit: cover;
    position: "relative" !important;
    width: 100px;
    height: 20px;
    background-color: red;
}

.posterGroup {
    margin: 1rem;
}
