.container {
    height: 75vh;
    max-height: 1000px;
    width: 100%;
    /*border: 1px solid lightgray;*/
    /*padding: 1rem;*/
    margin-bottom: 2rem;
    /*background-color: #363636;*/
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: center;
    gap: 1rem;
    /*background-color: red;*/
}


.posterContainer {
    height: 100%;
    flex: 1;
    /*background-color: pink;*/
}

.poster {
    height: 100%;
    width: 100%;
    /*max-width: 500px;*/
    /*border: 1px solid #e3e3e3;*/
    object-fit: contain;
}
