.container {
    display: flex;
    gap: 0.8rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.podcastName,
.episodeTitle {
    font-size: 1rem;
}

.podcastName {
    /*color: #5E5E5E;*/
    font-weight: bold;
}

.podcastName:hover {
    color: #949494;
}

.episodeTitle {
    font-weight: normal;
    color: #5E5E5E;
}
